/* AdminHomePage.css */
.admin-page {
    background: linear-gradient(135deg, #000000 0%, #923CB5 100%);
    min-height: 100vh; /* Ensure the page takes up the entire viewport height */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .admin-content {
    width: 80%;
    max-width: 400px; /* Adjust the max-width as needed */
    text-align: center;
    padding: 10px;
    position: relative; top: -75px;
    border: none;
  }
  
  /* Add additional styles as needed */
  