.App {
  text-align: center;
}

#root {
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #202329;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form_container {
  width: 30%
}
@media screen and (max-width: 1000px) {
  .form_container{
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
    .form_container {
      width: 65%; 
    }
}

h3.mb-4 {
  color: rgb(0, 0, 0);
}

.login-container{
  height: 100%;
}

.login-form-container {
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
  margin-top: 50px;
}
.gradient-background {
  background: linear-gradient(135deg, #00A3E1 0%, #C84B31 100%);
}

