#detailsTitle {
    color: white;
    margin-left: 10%;
    font-size:4vw;
}

#ytvid {
    height: 450px;
}

.ratings-logo {
    height: 50px;
}

.book-button-details {
    margin: 0 auto;
    margin-left: 10%;
    margin-bottom: 10px;
    width: 400px;
    color: black;
    font-weight:bold;
}

.book-ticket-content {
    display:flex;
}

.left-column-detail {
    flex-grow:1;
    min-width: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.right-column-detail {
    color: white;
    flex-grow:3;
    margin-right: 10%;
}

#ratingsDiv {
    width: 100%;
    display:inline-flex;
    column-gap: 15px;
    margin-bottom: 10px;
}

#ratingsDiv h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

#ratingsDiv h3 {
    color: yellow;
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 0px;
}

h3 {
    color: white;
    font-size: 35px;
}

li {
    color: white;
    font-size: 20px;
    list-style-type: none;
}

p {
    font-size: 25px;
}