#time-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 5%;
    row-gap: 20px;
    margin: 20px 5% 0 5%;
}

.body-margin {
    margin: 20px 10% 0px 10%;
}

#timeLink {
    color: white;
    padding: 8px 10px 8px 10px;
    text-decoration:none;
    width: 100%;
    background-color: transparent;
    text-align: center;
    border: solid white 2px;
    border-radius: 5px;
}

#timeLink:hover {
    border-color: orangered;
    color: orangered;
    transition: 0.4s;
}

#timeLink:active {
    border-color: rgb(193, 51, 0);
    color: rgb(193, 51, 0);
    transition: 0.2s;
}

.showtime-title {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    color: white;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    column-gap: 20px;
}