.small-movie-header {
    display:flex;
    position: relative;
}

.showtime-hr {
    color: white;
    margin: 10px auto;
}

.showtime-navbar {
    display:flex;
    justify-content: space-around;
    padding-left:20%;
    padding-right:20%;
    background-color: #000000BF;
}

.showtime-navbar select {
    margin: 2px 10px;
    background-color: #00000005;
    color: white;
}

.showtime-navbar p {
    color: white;
    font-size: 20px;
    white-space: nowrap;
    margin: auto auto;
}

.small-movie-header h3{
    margin: auto 0;
    color: rgb(235, 235, 235);
}

.small-movie-header img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.showtime-card{
    background-color: #2424244d;
    border: #00000050 solid 2px;
	backdrop-filter: blur(10px);
    padding: 2% 2%;
    width: 100%;
}

.showtime-card:hover {
    background-color: #5858584d;
    transition: ease-in-out 0.7s;
}

.showtime-browser-content {
    display:grid;
    grid-template-columns: 3fr 2fr;
}

.grid-2-col {
    display: flex;
    justify-content: space-between;
}